body {
    font-family: 'Times New Roman', Times, serif;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    background-color: whitesmoke;
}

input {
    padding: 5px;
}

button {
    padding: 5px;
    cursor: pointer;
}